@font-face {
  font-family: "FuturaBold";
  src: url("FuturaBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "FuturaBookC";
  src: url("FuturaBookC.woff") format("woff"),
    url("FuturaBookC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaDemiC";
  src: url("FuturaDemiC.woff") format("woff"),
    url("FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Bold.woff") format("woff"),
    url("Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExtraBold.woff") format("woff"),
    url("Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBold.woff") format("woff"),
    url("Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Light.woff") format("woff"),
    url("Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Medium.woff") format("woff"),
    url("Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.woff") format("woff"),
    url("Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("ProximaNova-Regular.woff") format("woff"),
    url("ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
